<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-img src="assets/logos/logo-koahli.png"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
          <ion-button>
            <ion-icon name="logo-google" slot="start"></ion-icon>
            Login via google
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="stacked">Email <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="email" autocomplete formControlName="email">
                <ion-icon name="mail" slot="start"></ion-icon>
              </ion-input>
              <ion-text color="danger" *ngIf="!form.get('email').valid && form.get('email').touched">Email is not valid.
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Password <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="password" formControlName="password">
                <ion-icon name="key" slot="start"></ion-icon>
              </ion-input>
              <ion-text color="danger" *ngIf="!form.get('password').valid && form.get('password').touched">Password is
                not valid.</ion-text>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button expand="block" (click)="signIn()">Log In</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>