<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Koahli</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOpts" pager="true">
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <img src="assets/images/promo-soft-opening.jpg">
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <img src="assets/images/promo-koahli-award.jpg">
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-slides [options]="slideOptions">
    <ion-slide *ngFor="let item of [1,2,3,4,5,6]" >
      <ion-card>
        <ion-card-header>
          #{{ item }} Hello World
        </ion-card-header>
        <ion-card-content>
          <ion-list lines="full">
            <ion-item>
              <ion-label class="ion-text-wrap">Today is rainy day</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <super-tabs activeTabIndex="1" [config]="{ debug: false, sideMenu: 'left', allowElementScroll: true }">
    <super-tabs-toolbar slot="top">

      <super-tab-button>
        <ion-icon name="star"></ion-icon>
        <ion-label>Favourites</ion-label>
      </super-tab-button>

      <super-tab-button>
        <ion-icon name="logo-snapchat"></ion-icon>
        <ion-label>Contacts</ion-label>
      </super-tab-button>

      <super-tab-button>
        <ion-icon name="person"></ion-icon>
        <ion-label>Profile</ion-label>
      </super-tab-button>

    </super-tabs-toolbar>
  
    <super-tabs-container>
      <super-tab *ngFor="let item of [1, 2, 3]" >
        <ion-nav [root]="homePage" [rootParams]="{ id: item, name: 'john'}"></ion-nav>
      </super-tab>
    </super-tabs-container>
  </super-tabs>
</ion-content>
