<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-img src="assets/logos/logo-koahli.png"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="text" autocomplete formControlName="firstName">
                <ion-icon name="mail" slot="start"></ion-icon>
              </ion-input>
              <ion-text color="danger" *ngIf="!form.get('firstName').valid && form.get('firstName').touched">First name
                is required.
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Last Name <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="text" autocomplete formControlName="lastName">
                <ion-icon name="mail" slot="start"></ion-icon>
              </ion-input>
              <ion-text color="danger" *ngIf="!form.get('lastName').valid && form.get('lastName').touched">Last name is
                required.
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Email <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="email" autocomplete formControlName="email">
                <ion-icon name="mail" slot="start"></ion-icon>
              </ion-input>
              <ion-text color="danger" *ngIf="!form.get('email').valid && form.get('email').touched">Email is not valid.
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Password <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="password" formControlName="password">
                <ion-icon name="key" slot="start"></ion-icon>
              </ion-input>
              <ion-text color="danger" *ngIf="!form.get('password').valid && form.get('password').touched">Password is
                not valid.</ion-text>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Confirm Password <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="password" formControlName="passwordConfirm">
                <ion-icon name="key" slot="start"></ion-icon>
              </ion-input>
              <ion-text color="danger"
                *ngIf="(!form.get('passwordConfirm').valid || form.hasError('notSame')) && form.get('passwordConfirm').touched">
                Both password does not match
              </ion-text>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button expand="block" (click)="register()">Log In</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>