<ion-content fullscreen class="ion-padding">
  <ion-slides pager="true" [options]="slideOptions">
    <ion-slide>
      <img src="assets/images/slide-1.png" />
      <h2>Welcome to the <b>ICA</b></h2>
      <p>The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration of
        proper code use.</p>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/slide-2.png" />
      <h2>What is Ionic?</h2>
      <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web
        technologies like HTML, CSS, and JavaScript.</p>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/slide-3.png" />
      <h2>What is Ionic Pro?</h2>
      <p><b>Ionic Pro</b> is a powerful set of services and features built on top of Ionic Framework that brings a
        totally new level of app development agility to mobile dev teams.</p>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/slide-4.png" />
      <h2>Ready to Play?</h2>
      <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-button expand="block" routerLink="/auth/register">Create an Account</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-text>Already have an account ?</ion-text>
        <ion-text routerLink="/auth/login"> Log in Here</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>