<ion-header>
  <ion-toolbar>
    <ion-title>coba</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-row class="ion-align-items-center">
    <ion-col size="9">
      <ion-searchbar placeholder="Enter Row" [(ngModel)]="scrollTo"></ion-searchbar>
    </ion-col>
    <ion-col size="3">
      <ion-button (click)="scrollListVisible()" [disabled]="!scrollTo">Scroll</ion-button>
    </ion-col>
  </ion-row>
  
  <ion-item>
    <ion-label>Animation</ion-label>
    <ion-select [(ngModel)]="behaviour">
      <ion-select-option value="auto">Auto</ion-select-option>
      <ion-select-option value="smooth">Smooth</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Block</ion-label>
    <ion-select [(ngModel)]="block">
      <ion-select-option value="start">Start</ion-select-option>
      <ion-select-option value="center">Center</ion-select-option>
      <ion-select-option value="end">End</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let item of arr; let i = index" [class.focus]="scrollTo == i">
      <ion-label>
        {{ item }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="offsetTop > 300" >
    <ion-fab-button (click)="scrollTop()">
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="offsetTop < 300" >
    <ion-fab-button (click)="scrollBottom()">
      <ion-icon name="arrow-down"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
