<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/homepage"></ion-back-button>
    </ion-buttons>
    <ion-title>Browse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOptions" scrollbar="true">
    <ion-slide *ngFor="let item of [1,2,3,4,5,6]" >
      <ion-card>
        <ion-card-content class="ion-no-padding">
          <img src="assets/images/mbah2.png" alt="ion">
        </ion-card-content>
        <ion-footer>
          <ion-text>#{{item}} category</ion-text>
        </ion-footer>
      </ion-card>
    </ion-slide>
  </ion-slides>
  
  <ion-card>
    <ion-card-content>
      <ion-button expand="block" class="ion-padding">
        <ion-icon name="filter" slot="start"></ion-icon>
        Filter
      </ion-button>
    </ion-card-content>
  </ion-card>
  
  <ion-card *ngFor="let item of [1, 2, 3, 4, 5, 6]" >
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/user.jpg">
      </ion-avatar>
      <ion-label>
        <h3>John Doe</h3>
        <p>Dec 10, 2019</p>
      </ion-label>
    </ion-item>
  
    <img src="assets/images/mbah2.png" alt="ion">
    <ion-card-header>
      <ion-card-title>Hotel Panama Garden</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
    </ion-card-content>
  
    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="time"></ion-icon>
            <div>11h ago</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>

</ion-content>
