<ion-content>
  <div class="ion-padding">
    Hello world, I am #{{id}} {{name}}
  </div>

  <ion-row>
    <ion-col size="4" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]" >
      <ion-card [routerLink]="'/browse/' + item">
        <ion-card-content>
          <ion-icon name="airplane"></ion-icon>
          <ion-text>Logo</ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/images/user.jpg">
          </ion-avatar>
          <ion-label>
            <h3>John Doe</h3>
            <p>Dec 10, 2019</p>
          </ion-label>
        </ion-item>
      
        <img src="assets/images/mbah2.png" alt="ion">

        <ion-card-header>
          <ion-card-title>Our meme lord</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Im once again asking for your financial support
        </ion-card-content>
        <ion-footer>
          <ion-row>
            <!-- <ion-col class="ion-center ion-text-center">
              <button>
                <ion-rating rate="4" readonly="false" size="small">
                </ion-rating> 
              </button>
            </ion-col> -->
            <ion-col center text-center>
              <button>
                <ion-icon name="thumbs-up"></ion-icon>
                <div>1.5k Likes</div>
              </button>
            </ion-col>
            <ion-col center text-center>
              <button>
                <ion-icon name="text"></ion-icon>
                <div>4 Comments</div>
              </button>
            </ion-col>
            <ion-col center text-center>
              <button>
                <ion-icon name="time"></ion-icon>
                <div>11h ago</div>
              </button>
            </ion-col>
          </ion-row>
        </ion-footer>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/user.jpg">
      </ion-avatar>
      <ion-label>
        <h3>John Doe</h3>
        <p>Dec 10, 2019</p>
      </ion-label>
    </ion-item>
  
    <img src="assets/images/mbah2.png" alt="ion">
    <ion-card-header>
      <ion-card-title>Hotel Panama Garden</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
    </ion-card-content>
  
    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="time"></ion-icon>
            <div>11h ago</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>

</ion-content>
